<template>
  <div>
   <Page/>
  </div>
</template>


<script>
/* import HelloWorld from './components/HelloWorld.vue' */
import Page from './components/Page.vue';


export default {
  name: 'App',
  components: {
    Page
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2B5C84;
  margin-top: 60px;
}

.logo-inr{
  margin-left: 60px;
}

.city-card-result{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
</style>
