<template>
    <div class="container-card">
        <h2>Score Global</h2>
        <div class="result-card">
            <div class="info-city">
                <div class="header-city">Ville</div>
                <div class="score-city">10</div>
            </div>
            <div class="info-user-container">
                <div class="info-user">
                    <div class="header-card">Département</div>
                    <div class="nbr-card">10</div>
                </div>
                <div class="info-user">
                    <div class="header-card">Région</div>
                    <div class="nbr-card">10</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'CityCard',
  props: {
    id: {
        type:Object, 
        requiere: true
    }
  },
  data(){
      return {
          city:{}
      }
  },
  methods:{
    getCityInfo: function(){
         
      fetch(`https://localhost/cities?id=${this.$props.id}`)
      .then(response => response.json())
      .then(data => {
          this.$data.city = data;
      }).catch(err => {
          console.error(err)
      }) 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.result-card{
    background-color:rgba(41, 100, 124, 0.3);
    display: flex;
    width: 600px;
    height: 200px;
    color: white;
    border-radius: 30px;
    box-shadow: grey 0px 0px 10px;
    justify-content: space-around;
    padding: 20px;
    border: rgb(113, 154, 170) solid 3px;
}

.info-user-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.info-user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 81, 100, 0.4);
    border-radius: 20px;
    height: 35%;
    width: 100%;
    padding: 10px 0;
}
.info-city{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 60%;
    background: rgb(34, 81, 100, 0.6);
    border-radius: 20px;
    padding: 10px 0;
}
.pseudo{
    font-weight: bold;
}
.header-card{
    font-size: 12px;
}
.header-city{
    font-size: 20px;
    font-weight: bold;
}
.nbr-card{
    font-size: 40px;
    font-weight: bold;
}
.score-city{
    font-size: 90px;
    font-weight: bold;
}
.border-side{
    padding: 0px 20px;
    border-left: rgba(41, 100, 124) 5px solid;
    border-right: rgba(41, 100, 124) 5px solid;
}
.btn-swap{
    background-color: rgba(255, 93, 25, 0.8);
    color: white;
    width: fit-content;
    height: auto;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.btn-swap:hover{
    background-color: rgba(255, 93, 25, 1);
    transition: background-color 0.1s ease-in;
}
</style>