<template>
    <div class="footer">
        <picture class="logo-inr">
        <source type="image/webp" srcset="../assets/agence.webp">
        <source type="image/jpg" srcset="../assets/agence.jpeg">
        <img alt="Vue logo" src="../assets/agence.jpeg" height="50" width="100">
        </picture>
        <picture class="logo-inr">
        <source type="image/webp" srcset="../assets/med.webp">
        <source type="image/jpg" srcset="../assets/med.jpeg">
        <img alt="Vue logo" src="../assets/med.jpeg" height="50" width="50">
        </picture>
        <picture class="logo-inr">
        <source type="image/webp" srcset="../assets/ministere.webp">
        <source type="image/jpg" srcset="../assets/ministere.jpeg">
        <img alt="Vue logo" src="../assets/ministere.jpeg" height="50" width="50">
        </picture>
    </div>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    box-shadow: lightgray 0px -17px 14px -16px;
    padding: 10px;
}
</style>