<template>
    <div class="intro-container">
        <div class="intro">
            <h1>Indice de fragilité numérique</h1>
            <h2>L'indice de fragilité numérique, révèle les zones d'exclusion numérique sur une zone déterminée. Avec cet outil vous allez pouvoir découvrir l'indice de fragilité numérique de votre commune.</h2>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Intro',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.intro{
    text-align: center;
    margin-top: 100px;
    width: 70%;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>