<template>
<div class="container">
    <picture class="logo-inr">
        <source type="image/webp" srcset="../assets/logo-inr-webp.webp">
        <source type="image/jpg" srcset="../assets/logo-inr.jpeg">
        <img alt="Vue logo" src="../assets/logo-inr.jpeg" height="50" width="150">
    </picture>
    <Intro/>
    <Search @updateSearch="updateSearch"/>
    <CityCard v-if="city" :id="city"/>
    <Footer/>
</div>
</template>

<script>
import Search from "./Search/Search_Input.vue";
import CityCard from './CityCard.vue';
import Footer from './Footer.vue';

import Intro from './Intro.vue';

export default {
  name: 'Page',
  components:{
    Search,
    CityCard,
    Intro,
    Footer
  },
  data() {
    return {
      searchQuery:"",
      lastQuery:null,
      city:null
    }
  },
  methodes:{
    updateSearch: function(id) {
      this.$data.city = id
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
