<template>
  <div class="items-body">
      <div class="items-body-content" @click="updateSearch">
          <span>Web Usabilty Testing</span>
          <i class="fa fa-angle-right"></i>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Info_card',
  props: {
    commune: Object,

  },
  methods:{
    updateSearch:function(){
      this.$emit('updateSearch', this.$props.commune.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.search_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.city_cm{
    grid-column: 2;
    grid-row: 1;
    background-color: aqua;
}

.city_dp{
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(255, 0, 179);
}

.city_pop{
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(45, 19, 131);
}

</style>
