<template>
<div class="container">
  <div class="items">
    <div class="items-head">
      <div class="search-input-c">
        <input class="search-input" type="text" placeholder="Saisissez une commune" v-model="searchQuery">
        <button class="s-button" @click="handleSearch"><img src="../../assets/icons8-chercher.svg" /></button>
      </div>
        <p>citys</p>
    </div>
    <div v-if="cities">
    <InfoCard v-for="(city,key) in cities" :key="key+city.commune"/>
    </div>
  </div>
</div>
</template>

<script>
import InfoCard from "./Info_card";

export default {
  name: 'City_Card',
  components:{
    InfoCard
  },
  data() {
    return {
      searchQuery:"",
      lastQuery:null,
      cities:[]
    }
  },
  methodes:{
    updateCities: function() {
      fetch(`https://localhost/cities?name=${this.$data.searchQuery}`)
      .then(response => response.json())
      .then(data => {
          this.$data.cities = data;
      }).catch(err => {
          console.error(err)
      }) 
    },
    handleSearch: function() {
      if ((this.$data.lastQuery !== this.$data.searchQuery) && this.$data.searchQuery){
        this.updateCities()
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .container {
  border: 1px solid black;
  
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: grid;
  place-items: center;
  background-color: white;
} */

.items {
  width: 300px;
  background: white;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid rgb(13, 21, 63);
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: white;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid grey;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

.search-input{
  border: none;
  background-color: rgba(34, 81, 100, 0.6);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

.s-button:hover{
  cursor: pointer;
}

.search-input:focus{
  border: solid 1px rgba(34, 81, 100);
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.548);
  font-weight: bold;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.search-input-c{
  display: flex;
}

.s-button{
  background-color: rgba(34, 81, 100);
  border-radius: 10px;
  border: none;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

</style>
